
.bootstrap-tagsinput {
	display: block;
	span.tag {
		font-size: 14px;
		line-height: 25px;
	}
}

.tags {
	.tag:hover {
		// background-color: orange;
	}
}
.c3-line {
	stroke-width: 3px;
}
.product-group {
	clear: both;
	margin-bottom: 40px;
}
.event-title {
	cursor: pointer;
}
.bold-text {
	font-weight: bold;
}

h3.event-total a { color: #999999 }
h3.event-error a { color: #d9534f }
h3.event-warning a { color: #f0ad4e }
h3.event-info a { color: #5bc0de }
h3.event-success a { color: #5cb85c }
h3.event-fatal a { color: #ff0000 }
h3.event-debug a { color: #cccccc }

label.btn[disabled] {
	cursor: default;
}

.user-settings-container .row {
	margin-bottom: 20px;
}
.common-field-value {
	margin-right: 5px;
}