.navbar-toggle.pull-left.collapsed {
	color: #737373;
}
.navbar-toggle.pull-left {
	margin-left: 5px;
	margin-right: 2px;
	padding: 8px 15px;
	border: 1px;
	margin-top: 8px;
	margin-bottom: 3px;
}
.navbar-toggle.pull-left.collapsed,
.navbar-toggle.pull-left:active,
.navbar-toggle.pull-left:hover {
	background-color: transparent;
}
.bootstrap-tagsinput {
	display: block;
	span.tag {
		font-size: 14px;
		line-height: 25px;
	}
}

.tags {
	.tag:hover {
		// background-color: orange;
	}
}